{% extends "layout.html" %}
{% load static from staticfiles %}

{% block static %}<link rel="stylesheet" href="{% static 'courses/css/courses.css' %}">{% endblock %}

{% block title %}Available Courses{% endblock %}

{% block content %}
<div class="cards">
    {% for course in courses %}
    <div class="card">
        <header><a href="{% url 'courses:detail' pk=course.pk %}">{{ course.title }}</a></header>
        <div class="card-copy">
            {% if course.description|wordcount <= 5 %}
                {{ course.description }}
            {% else %}
                {{ course.description|truncatewords:5 }}
                <a href="{% url 'courses:detail' pk=course.pk %}">Read more</a>
            {% endif %}
            <p>Created on: {{ course.created_at|date:"F j, Y" }}</p>
            <p>Updated on: {{ course.created_at|date:"m/d/y" }}</p>
        </div>
    </div>
    {% endfor %}
    <footer>
        Have Questions contact us <a href="mailto: {{ email }}">{{email}}</a> | 
        Call us {{email|urlize}}
    </footer>
</div>
{% endblock %}