{{#partial "content"}}
    {{#if username}}
        <h1>Welcome Student {{username}}</h1>
        <p>View <a href="/ideas">all course ideas</a></p>
    {{else}}
        <h1>Welcome Students</h1>
    {{/if}}
    <form action="/sign-in" method="post">
        <input type="text" placeholder="Whats your user name?" name="username" />
        <input type="submit" value="Go" />
    </form>
 {{/partial}}

{{> base.hbs}}