/* --------------------------
  BASE 
--------------------------- */

body {
  padding-top: 5em;
}

svg {
  width: 33.32%;
  float: left;
}

/* --------------------------
  GEAR
--------------------------- */



/* --------------------------
  HAMMER
--------------------------- */



/* --------------------------
  HEART
--------------------------- */

